{% extends "network/layout.html" %}

{% block body %}
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}    

    <h1>Following</h1>
    <br>
    {% for post in posts %}
      <div class="card">
        <h4><a href="{% url 'profile' post.user %}">{{post.user}}</a></h4>
        <div id="post_{{post.id}}">
            
            <h6><a class="anchor_content" href="{% url 'post_page' post.id %}">{{post.content}}</a></h6>
            <h6> {{post.timestamp}} </h6>
            <h6 id="like_{{post.id}}" >&#10084; {{post.like}}</h6>
            <br>

            {% if user.is_authenticated %}
              {% if post in likes %}
                <div id="div_dislike_{{post.id}}" style="display: block;"> <!--This DIV is for the button LIKE, DISLIKE, and EDIT-->
                    <button style="background-color:  rgb(248, 79, 79); border-radius: 4px;" name="dislike" value="{{post.id}}">&#128078;</button>
                    {% if post.user == user %}
                        <button style="background-color: cornflowerblue; border-radius: 4px;" name="edit" value="{{post.id}}">Edit</button>
                    {% endif %}
                </div>
                <div id="div_like_{{post.id}}" style="display: none;"> <!--This DIV is for the button LIKE, DISLIKE, and EDIT-->
                    <button style="background-color: cornflowerblue; border-radius: 4px;" name="like" value="{{post.id}}">&#128077;</button>
                    {% if post.user == user %}
                        <button style="background-color: cornflowerblue; border-radius: 4px;" name="edit" value="{{post.id}}">Edit</button>
                    {% endif %}
                </div>
              {% else %}
                <div id="div_like_{{post.id}}" style="display: block;"> <!--This DIV is for the button LIKE, DISLIKE, and EDIT-->
                    <button style="background-color: cornflowerblue; border-radius: 4px;" name="like" value="{{post.id}}">&#128077;</button>
                    {% if post.user == user %}
                        <button style="background-color: cornflowerblue; border-radius: 4px;" name="edit" value="{{post.id}}">Edit</button>
                    {% endif %}
                </div>
                <div id="div_dislike_{{post.id}}" style="display: none;"> <!--This DIV is for the button LIKE, DISLIKE, and EDIT-->
                    <button style="background-color:  rgb(248, 79, 79); border-radius: 4px;" name="dislike" value="{{post.id}}">&#128078;</button>
                    {% if post.user == user %}
                        <button style="background-color: cornflowerblue; border-radius: 4px;" name="edit" value="{{post.id}}">Edit</button>
                    {% endif %}
                </div>
              {% endif %} 
            {% endif %}
        </div>
        
        <div id="edit_div_{{post.id}}" style="display: none;">
                <textarea autofocus autocomplete="off" class="form-control" id="post_edit_{{post.id}}"></textarea>
                <br>
                <button style="background-color: cornflowerblue; border-radius: 4px;" id="save_{{post.id}}" value="{{post.id}}">Save</button>
        </div>
      </div>          
    {% endfor %}
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">Previous</a>
          </li>
        {% endif %}
          <li class="page-item disabled"><a class="page-link" href="#">{{posts.number}}</a></li>
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
          </li>
        {% endif %}
        </ul>
      </nav>
{% endblock %}