h1{
    color: blue;
}

.card {
    padding: 10px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 3px;
}

.btn, button {
    width: 100px; 
    height: 40px; 
    border-radius: 4px;
    text-align: center;
    color:aliceblue;
}

body, #block-body {
    padding: 5px;
}

.anchor_content {
    text-decoration: none;
    color: black;
}